*{
     margin: 0;
     padding: 0;
} 

nav{
    background-color: rgb(15, 0, 79);
    color:antiquewhite;
    height: 65px;
    font-size: 26px; 
    font-family: 'Dancing Script', cursive;
    display: flex;
    align-items: center;
    padding: 0 12px;
}
nav ul{
    list-style-type: circle;
}
.gameContainer{
    background-image: linear-gradient( to bottom right, rgb(134, 153, 225), rgb(63, 4, 119));
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: whitesmoke;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    padding-top: 15px;
}
.box{
    border: 4px ridge rgb(203, 194, 194);
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.box:hover{
    background-color: rgb(218, 195, 240);
    cursor: pointer;
}
.imgbox img{
    /* height: 0; */
    width: 0;
    /*display: none;*/
    transform: width 1s ease-in-out;
}
.info{
    padding: 34px;
    font-size: 24px;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.text{
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
}
#reset{
    margin: 0 23px;
    padding: 12px 14px;
    background: rgb(32, 1, 43);
    color: antiquewhite;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 12px;;
}
.gameinfo{
    padding: 0 34px;
    font-size: 1.5rem;
}
.line{
    background-color: black;
    height: 4px;
    width: 0;
    position: absolute;
    background-color: #000000;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
